/* Actividad 1 */
.rojo {
    color: red;
}
.yellow{
    color: yellow;
}
.purple{
    color: purple;
}

/* Actividad 2 */
.green {
    color: green;
}
.blue {
    color: blue;
}
.pink{
    color: rgb(250, 145, 162);
}
.orange{
    color: orange;
}
.lightblue{
    color: rgb(0, 255, 242);
}
.gray{
    color: gray;
}

/* Actividad 3 */
#Pluton {
    color: purple;
}
