/* Actividad 1 */
.negrita {
    font-weight: bold;
}

.amarillo {
    color: rgb(251, 255, 0);
}

.azul {
    background-color: lightblue;
    padding: 2px;
    border-radius: 3px;
}

.morado {
    color: purple;
}

.rosado {
    color: deeppink;
}

.verde {
    background-color: lightgreen;
    padding: 2px;
    border-radius: 3px;
}

/* Actividad 2 */
.censurado {
    background-color: black;
    color: black;
}

/* Actividad 3 */

.orange-text {
    color: #F57C00; 
}
.intro {
    background: white;
    padding: 30px;
    margin: 20px auto;
    max-width: 800px;
    text-align: left;
}

.highlight {
    background-color: #F57C00; 
    color: white;
    padding: 4px 8px;
    border-radius: 3px;
}

a {
    color: #F57C00; 
}

.writing {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}


article {
    background: white;
    padding: 20px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
}

article strong {
    color: #F57C00; 
}


